Q1.Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source
(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis).

(b) Create a new Data Frame with the selected attributes only.

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [12]:
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import MaxAbsScaler
df_frame=pd.read_csv('AWCustomers.csv')
print(df_frame.head)
sales=pd.read_csv('AWSales.csv')
merged_dataset=pd.merge(df_frame,sales,on='CustomerID')
merged_dataset['BirthDate']=pd.to_datetime(merged_dataset['BirthDate'],errors='coerce')
merged_dataset['Age']=datetime.now().year-merged_dataset['BirthDate'].dt.year
new_columns=[
    'Gender',
    'MaritalStatus',
    'Age',
    'Education',
    'HomeOwnerFlag',
    'NumberCarsOwned',
    'NumberChildrenAtHome',
    'TotalChildren',
    'YearlyIncome',
    'BikeBuyer'
]
new_data=merged_dataset[new_columns]
print(new_data.head())

<bound method NDFrame.head of        CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName  ...        Education      Occupation Gender  \
0          New South Wales  ...        Bachelors        Clerical      M
1         British Columbia  ...  Partial College        Clerical      M
2               California  ...        Bachelors        Clerical      F
3                  England  ...  Partial College  Skilled Manual      M
4      Nordrhein-Westfalen  ...  Partial College  Skilled Manual      M
...                    ...  ...              ...             ...    ...
18356           California  ...  Graduate Degree  Skilled Manual      F
18357      New South Wales  ...        Bachelors  Skilled Manual      F
18358               Oregon  ...  Partial College  Skilled Manual      F
18359     British Columbia  ...      High School        Clerical      F
18360           California  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

      TotalChildren  YearlyIncome  LastUpdated
0                 1         81916   2017-03-06
1                 2         81076   2017-03-06
2                 0         86387   2017-03-06
3                 2         61481   2017-03-06
4                 0         51804   2017-03-06
...             ...           ...          ...
18356             2         52953   2017-03-06
18357             0         60992   2017-03-06
18358             0         51859   2017-03-06
18359             0         87177   2017-03-06
18360             0        136856   2017-03-06

[18361 rows x 24 columns]>
  Gender MaritalStatus  Age        Education  HomeOwnerFlag  NumberCarsOwned  \
0      M             M   38        Bachelors              1                3
1      M             M   53  Partial College              1                2
2      F             S   40        Bachelors              0                3
3      M             M   48  Partial College              1                2
4      M             S   50  Partial College              1                1

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer
0                     0              1         81916          1
1                     1              2         81076          1
2                     0              0         86387          1
3                     1              2         61481          1
4                     0              0         51804          1

Q2) Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do not perform each task on the smaller data set that you got from your random sampling result.

(a) Handling Null values

(b) Normalization

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different values

(d) Standardization/Normalization

(e) Binarization (One Hot Encoding)

In [13]:
new_df=merged_dataset[new_columns]
print(new_df.head())

print(new_df.isnull().sum())
new_df=new_df.dropna()

cols=['Age','YearlyIncome','TotalChildren']
scaler=MaxAbsScaler()
scaled=scaler.fit_transform(new_df[cols])
new_df[cols]=pd.DataFrame(scaled,columns=cols,index=new_df.index)

new_df['AgeGroup']=pd.cut(
    new_df['Age'],
    bins=[0,0.3,0.6,1],
    labels=['Young','Middle-Aged','Senior']
)

from sklearn.preprocessing import StandardScaler
col=['NumberCarsOwned','NumberChildrenAtHome']
scaler2=StandardScaler()
new_df[col]=scaler2.fit_transform(new_df[col])

final_df=pd.get_dummies(new_df,columns=['Gender','MaritalStatus','Education','AgeGroup'])
print(final_df.head())

  Gender MaritalStatus  Age        Education  HomeOwnerFlag  NumberCarsOwned  \
0      M             M   38        Bachelors              1                3
1      M             M   53  Partial College              1                2
2      F             S   40        Bachelors              0                3
3      M             M   48  Partial College              1                2
4      M             S   50  Partial College              1                1

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer
0                     0              1         81916          1
1                     1              2         81076          1
2                     0              0         86387          1
3                     1              2         61481          1
4                     0              0         51804          1
Gender                  0
MaritalStatus           0
Age                     0
Education               0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
BikeBuyer               0
dtype: int64
        Age  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0  0.400000              1         1.892524             -0.594371
1  0.557895              1         0.798389              1.163279
2  0.421053              0         1.892524             -0.594371
3  0.505263              1         0.798389              1.163279
4  0.526316              1        -0.295746             -0.594371

   TotalChildren  YearlyIncome  BikeBuyer  Gender_F  Gender_M  \
0       0.333333      0.588837          1     False      True
1       0.666667      0.582798          1     False      True
2       0.000000      0.620975          1      True     False
3       0.666667      0.441944          1     False      True
4       0.000000      0.372383          1     False      True

   MaritalStatus_M  MaritalStatus_S  Education_Bachelors  \
0             True            False                 True
1             True            False                False
2            False             True                 True
3             True            False                False
4            False             True                False

   Education_Graduate Degree  Education_High School  \
0                      False                  False
1                      False                  False
2                      False                  False
3                      False                  False
4                      False                  False

   Education_Partial College  Education_Partial High School  AgeGroup_Young  \
0                      False                          False           False
1                       True                          False           False
2                      False                          False           False
3                       True                          False           False
4                       True                          False           False

   AgeGroup_Middle-Aged  AgeGroup_Senior
0                  True            False
1                  True            False
2                  True            False
3                  True            False
4                  True            False

Q3)Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

row1 = final_df.iloc[0]
row2 = final_df.iloc[1]
arr1 = row1.values
arr2 = row2.values

same_vals = np.sum(arr1 == arr2)
total_vals = len(arr1)
smc_val = same_vals / total_vals
print(smc_val)

common_ones = np.sum((arr1 == 1) & (arr2 == 1))
union_ones = np.sum((arr1 == 1) | (arr2 == 1))
jacc_val = common_ones / union_ones
print(jacc_val)

cos_val = cosine_similarity([arr1], [arr2])
print(cos_val)

0.631578947368421
0.7142857142857143
[[0.67485062]]